<h2>Devices</h2>

<p>Scan Enabled: {{ this.scanEnabled }}</p>
<button
  (click)="toggleScan()"
>
  Toggle scan
</button>
<p>Scan interval: {{ this.scanInterval }}ms ({{ this.scanInterval/1000 }}s)</p>


<li *ngFor="let device of devices">
  <button
    [disabled]="!device.id"
    (click)="selectDevice(device)"
  >
    Select
  </button>
  <button
    [disabled]="!device.id"
    [ngClass]="device.trusted ? 'trusted' : 'untrusted'"
    (click)="setTrustedDevice(device, !device.trusted)"
  >
    {{ device.trusted ? 'Untrust' : 'Trust' }}
  </button>
  {{ device.hostname || '(unknown)'}} - ({{device.ipAddress}}) - {{device.trusted ? 'Trusted ✅' : 'Untrusted ❌'}}
</li>

<div *ngIf="selectedDevice" style="margin-top: 20px;">
  <h3>Details</h3>
  <p><strong>ID:</strong> {{ selectedDevice.id }}</p>
  <p><strong>Hostname:</strong> {{ selectedDevice.hostname }}</p>
  <p><strong>IP Address:</strong> {{ selectedDevice.ipAddress }}</p>
  <p *ngIf="selectedDevice.os"><strong>OS:</strong> {{ selectedDevice.os }}</p>
  <p><strong>Last Seen:</strong> {{ selectedDevice.lastSeen }}</p>
</div>
